*.7z
*.class
*.com
*.dll
*.dmg
*.exe
*.gz
*.iso
*.jar
*.log
*.o
*.pid
*.rar
*.seed
*.so
*.sql
*.sqlite
*.tar
*.zip
._*
.DS_Store
.DS_Store?
.grunt
.lock-wscript
.Spotlight-V100
.Trashes
build/Release
coverage
ehthumbs.db
lib-cov
logs
node_modules
pids
platforms
plugins
Thumbs.db 
!**/README.md