<?xml version='1.0' encoding='utf-8'?>
<widget id="co.alejonext.ghost" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ghost</name>
    <description>
        A simple app for Ghost
    </description>
    <author email="algo@alejonext.co" href="http://alejonext.co">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
