form#login.ink-form(ng-submit="goLogin")
	.animation( ng-show="login.loading" )
	.control-group
		label.hide-all( for="url") Url
		.control
			input(type="url", placeholder="Url", ng-model="is.url", name="url", ng-require="true", ng-disable="login.loading")
	.control-group
		label.hide-all( for="url") User
		.control
			input(type="text", placeholder="User or Email", ng-model="login.user", name="user", ng-require="true", ng-disable="login.loading")
	.control-group
		label.hide-all( for="url") PassWord
		.control
			input(type="pasword", placeholder="password", ng-model="login.password", name="password", ng-require="true", ng-disable="login.loading")
	button.ink-button.blue.all(type="submit", ng-disable="login.loading" ) Login