input#title(type="text", placeholder="Your title", ng-model="post.title")
input#tags(type="text", placeholder="Your tags", ng-model="post.tags")
textarea#text( ng-model="post.text", placeholder="Your text" )